aiohttp==3.8.6
aiosignal==1.3.1
aniso8601==9.0.1
anyio==3.7.1
async-timeout==4.0.3
attrs==23.1.0
beautifulsoup4==4.12.2
blinker==1.6.3
CacheControl==0.13.1
cachetools==5.3.2
certifi==2023.7.22
cffi==1.16.0
charset-normalizer==3.3.0
click==8.1.7
config==0.5.1
credentials==1.1
cryptography==41.0.5
dataclasses-json==0.5.14
dnspython==2.4.2
docopt==0.6.2
et-xmlfile==1.1.0
exceptiongroup==1.1.3
faiss-cpu==1.7.4
filelock==3.12.4
firebase-admin==6.2.0
Flask==3.0.0
Flask-Cors==4.0.0
Flask-RESTful==0.3.10
frozenlist==1.4.0
fsspec==2023.10.0
google==3.0.0
google-api-core==2.12.0
google-api-python-client==2.106.0
google-auth==2.23.3
google-auth-httplib2==0.1.1
google-auth-oauthlib==1.1.0
google-cloud-core==2.3.3
google-cloud-firestore==2.13.0
google-cloud-storage==2.13.0
google-cloud-texttospeech==2.14.2
google-cloud-translate==3.12.1
google-crc32c==1.5.0
google-resumable-media==2.6.0
googleapis-common-protos==1.61.0
greenlet==3.0.0
grpcio==1.59.2
grpcio-status==1.59.2
httplib2==0.22.0
huggingface-hub==0.17.3
idna==3.4
importlib-metadata==6.8.0
itsdangerous==2.1.2
Jinja2==3.1.2
joblib==1.3.2
jsonpatch==1.33
jsonpointer==2.4
langchain==0.0.329
langchain-experimental==0.0.31
langcodes==3.3.0
langsmith==0.0.57
loguru==0.7.2
MarkupSafe==2.1.3
marshmallow==3.20.1
mpmath==1.3.0
msgpack==1.0.7
multidict==6.0.4
mypy-extensions==1.0.0
networkx==3.2
nltk==3.8.1
numexpr==2.8.7
numpy==1.26.1
oauthlib==3.2.2
openai==0.28.1
openapi-schema-pydantic==1.2.4
openpyxl==3.1.2
packaging==23.2
pandas==2.1.2
pandas-stubs==2.1.1.230928
Pillow==10.1.0
pinecone-client==2.2.4
pipreqs==0.4.13
plotly==5.18.0
proto-plus==1.22.3
protobuf==4.21.6
pyasn1==0.5.0
pyasn1-modules==0.3.0
pycparser==2.21
pydantic==1.10.13
pydub==0.25.1
PyJWT==2.8.0
pyOpenSSL==23.3.0
pyparsing==3.1.1
pypdf==3.16.4
PySocks==1.7.1
python-dateutil==2.8.2
python-dotenv==0.21.0
pytube==15.0.0
pytz==2023.3.post1
pyu2f==0.1.5
PyYAML==6.0.1
regex==2023.10.3
requests==2.31.0
requests-oauthlib==1.3.1
rsa==4.9
safetensors==0.4.0
scikit-learn==1.3.2
scipy==1.11.3
sentence-transformers==2.2.2
sentencepiece==0.1.99
six==1.16.0
sniffio==1.3.0
soupsieve==2.5
SQLAlchemy==1.4.49
sympy==1.12
tenacity==8.2.3
textblob==0.15.3
threadpoolctl==3.2.0
tiktoken==0.5.1
tokenizers==0.14.1
torch==2.1.0
torchvision==0.16.0
tqdm==4.66.1
transformers==4.34.1
types-pytz==2023.3.1.1
typing-inspect==0.9.0
typing_extensions==4.8.0
tzdata==2023.3
unicodedata2==15.1.0
Unidecode==1.3.7
uritemplate==4.1.1
urllib3==2.0.7
Werkzeug==3.0.1
whisper==1.1.5
yarg==0.1.9
yarl==1.9.2
zipp==3.17.0
